:root {
    --color-background1: #146C94;
    --color-background2: #19A7CE;
    --color-button1: #AFD3E2;
    --color-button2: var(--color-background1);
    --color-text1: #F6F1F1;
}
*,
*::before,
*::after {
    align-items: center;
    box-sizing: border-box;
    color: var(--color-text1);
    font-family: 'Alkatra', sans-serif, cursive;
    font-size: 10px;
    justify-content: center;
    margin: 0;
    padding: 0;
    text-align: center;
}
/* These are our major containers and their elements. */
body {
    height: 100vh;
    width: 100vw;
}
header {
    background-color: var(--color-background1);
    padding: 1rem 10% 2rem 10%;
}
    header > div > p {
        font-size: 5rem;
    }
main {
    background-color: var(--color-background2);
    padding: 2rem 10%;
}
    main > section:first-of-type {
        padding: 1% 20%;
    }
    main > section:first-of-type > p {
        font-size: 2rem;
    }
    .select > p{
        font-size: 3rem;
        margin: 1%;
    }
footer {
    background-color: var(--color-background1);
    padding: 2% 10% 1% 10%;
}
    footer > p {
        font-size: 1.5rem;
    }
/* ---------- */
.hidden {
    /* display: none; */
}
/* ---------- */
a {
    color: inherit;
    font-family: inherit;
    text-decoration: none;
}
button {
    background-color: var(--color-button2);
    border: none;
    border-radius: 1rem;
    font-size: 3rem;
    margin: 1% 3%;
    padding: 1% 3%;
}
button:active {
    background-color: var(--color-button1);
    transition: ease-in-out;
}
input[type="image"] {
    height: auto;
    margin: 1% 5%;
    width: 20%;
}
li {
    display: inline;
}
ul {
    display: inline-block;
    list-style-type: none;
}