/* These are global settings which we can override later. */
* {
  border: 1px solid red;
  font-family: 'Copperplate', sans-serif;
  font-size: 10px;
  margin: 0;
  padding: 0;
  text-align: center;
}
/* Container and Flexbox */
.container {
  height: 100vh;
  padding: 0 32px;
  width: 100vw;
}
.flex-container {
  display: flex;
}
.flex-box {
  flex: auto;
}
/* Sections */
#header, #content, #footer {
  /*flex: 0 0 100%;*/
  min-width: calc(100vw - 32px); 
}
#header {
  min-height: 20vh;
}
#content {
  min-height: 50vh;
}
#footer {
  min-height: 5vh;
}

